#loading {
  text-align: center;
}

#heading {
  text-align: center;
}

#filters {
  width: 220px;
  margin: auto;
}

.products {
  width: 480px;
  border: 1px solid black;
  margin: 8px;
  text-align: center;
}

#product-container {
  display: flex;
  flex-wrap: wrap;
}
